Repository googleapis/java-logging, pull requests merged in 2021-12, with the labels that each got.

#768 chore(java7,clirr): make clirr to compare vs 2.x
  pom.xml
Labels: cla: yes, api: logging

#769 fix: remove distributionManagement from pom.xml
  pom.xml
Labels: cla: yes, api: logging

#777 fix: enforce w3c trace context value validation
  README.md
  google-cloud-logging/src/main/java/com/google/cloud/logging/Context.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/ContextTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/InvalidContextTest.java
Labels: cla: yes, api: logging

#796 fix: Expose ID and destination type of LogDestinationName publicly
  google-cloud-logging/src/main/java/com/google/cloud/logging/LogDestinationName.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingTest.java
Labels: api: logging

#797 fix: Rename LogDestinationName.getId() to LogDestinationName.getDesti…
  google-cloud-logging/src/main/java/com/google/cloud/logging/LogDestinationName.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingTest.java
Labels: api: logging

#798 feat: allow opt-out auto-population of the log entry metadata on write()
  google-cloud-logging/src/main/java/com/google/cloud/logging/Logging.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingConfig.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingOptions.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingOptionsTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingTest.java
Labels: api: logging

#801 Add requestsize configuration into auto-label.yaml
  .github/auto-label.yaml
Labels: api: logging

#804 chore: add enumeration type of library
  .repo-metadata.json
Labels: api: logging, automerge, size: xs

#803 feat: auto-populate metadata of log entries at write()
  google-cloud-logging/src/main/java/com/google/cloud/logging/Context.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingImpl.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/MonitoredResourceUtil.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/AutoPopulateMetadataTests.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/BaseSystemTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingImplTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingOptionsTest.java
Labels: api: logging, size: m

#809 chore: update library type
  .repo-metadata.json
  README.md
Labels: api: logging, size: xs
