Repository googleapis/java-logging, pull requests merged in 2022-08, with the labels that each got.

#1033 chore: added extra variables owlbot kokoro configs
  .kokoro/common.cfg
  .kokoro/common_env_vars.cfg
  .kokoro/continuous/common.cfg
  .kokoro/environment/appengine_flex/common.cfg
  .kokoro/environment/appengine_standard/common.cfg
  .kokoro/environment/cloudrun/common.cfg
  .kokoro/environment/compute/common.cfg
  .kokoro/environment/functions/common.cfg
  .kokoro/environment/kubernetes/common.cfg
  .kokoro/nightly/common.cfg
  .kokoro/presubmit/common.cfg
  .kokoro/release/common.cfg
  owlbot.py
Labels: api: logging, size: m

#1045 fix: resource detection for 2nd gen of Cloud Functions works incorrectly
  google-cloud-logging/src/main/java/com/google/cloud/logging/MonitoredResourceUtil.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/MonitoredResourceUtilTest.java
Labels: api: logging, size: s

#1049 deps: use error_prone_annotation via shared deps
  google-cloud-logging/pom.xml
Labels: api: logging, automerge, size: xs
