Repository googleapis/java-logging, pull requests merged in 2022-01, with the labels that each got.

#812 feat: support structured logging in LoggingHandler using configuration
  google-cloud-logging/clirr-ignored-differences.xml
  google-cloud-logging/pom.xml
  google-cloud-logging/src/main/java/com/google/cloud/logging/LogEntry.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/Logging.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingConfig.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingHandler.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingImpl.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/SourceLocation.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/AutoPopulateMetadataTests.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LogEntryTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingHandlerTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/SourceLocationTest.java
Labels: api: logging, size: m

#821 chore: update README about using metadata auto-population and redirecting JUL handler to STDOUT
  .readme-partials.yaml
  google-cloud-logging/src/main/java/com/google/cloud/logging/LogEntry.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingImpl.java
Labels: api: logging, size: s

#808 feat: enable auto-population of missing metadata in logs and printing structured logs to stdout
  .readme-partials.yaml
  README.md
  google-cloud-logging/clirr-ignored-differences.xml
  google-cloud-logging/pom.xml
  google-cloud-logging/src/main/java/com/google/cloud/logging/Context.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LogEntry.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/Logging.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingConfig.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingHandler.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingImpl.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingOptions.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/MonitoredResourceUtil.java
  google-cloud-logging/src/main/java/com/google/cloud/logging/SourceLocation.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/AutoPopulateMetadataTests.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/BaseSystemTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LogEntryTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingHandlerTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingImplTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingOptionsTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/LoggingTest.java
  google-cloud-logging/src/test/java/com/google/cloud/logging/SourceLocationTest.java
Labels: api: logging, size: l

#834 chore: change name to api_shortname in .repo-metadata.json
  .repo-metadata.json
Labels: api: logging, automerge, owlbot:ignore, size: xs

#841 chore: update release-level in .repo-metadata.json
  .repo-metadata.json
Labels: api: logging, automerge, owlbot:ignore, size: xs
